
/* @theme QMUL */

@charset "UTF-8";
@import 'default';
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap');
@import '~highlight.js/styles/sunburst';

footer{color:black;font-size: 20px;} 

section {
   font-size: 25px;
   padding: 50px;
   text-align: left;
   font-family:Arial, Helvetica, sans-serif;
   background:whitesmoke;
  }

  ul {
    text-align: left; /* 将列表项文本左对齐 */
}

ol {
  text-align: left; /* 将有序列表项文本左对齐 */
}
 
  h1 {
   text-align:left;
   color: rgb(60, 112, 198);
   margin-top: 150px;
   margin-bottom: 0px;
   font-size:72px;
  }

  h2 {
    text-align:left;
   color: rgb(60, 112, 198);
    margin-top: 0px;
    margin-bottom: 10px;
    font-size:60px;
  }

  h3 {
    color: rgb(60, 112, 198);
    font-size:36px;
    text-align:left;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h4 {
    font-size:30px;
    text-align:left;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  h6 {
    text-align:center;
    color: black;
    font-size:30px;
    text-align:left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 70px;
    background-image: url("./images/QMLOGO.png"); 
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-size: 300px;
    text-align:left;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:42px;
    background-color: rgba(18, 45, 120, 1)
  }


  .column2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .column3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }

  .end {
    display: block;
  }

  .end h1{
    text-align: center;
    color: rgb(60, 112, 198);
    margin-top: 150px;
    margin-bottom: 0px;
    font-size:72px;
  }




  